* {
    margin: 0;
    padding: 0;
  }

:root {
    --primary-color: rgb(11 11 11);
    --secondary-color: rgb(244 68 55);
    --tertiary-color: rgb(231, 189, 189);
  }

body {
    color: var(--secondary-color);
    font-family: Helvetica, Arial, sans-serif;
}

/* HEADER STYLING START */
header {
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 80px;
    align-content: center;
}

header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 36px;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    padding: 10px;
    padding-left: 40px;
  }

header a {
    text-decoration: none;
    color: var(--secondary-color);
    padding: 2px;
  }

header nav {
    width: 40%;
    margin: 7px 0;
  }
  
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    list-style: none;
  }

header li {
    border-bottom: solid var(--secondary-color) 5px;
    padding: 5px;
}

header nav ul li a {
    font-weight: bold;
    font-size: 1.55vw;
  }
/* END HEADER STYLING*/

/* HERO STYLING START */
.container {
    height: 180px;
    position: relative;
    background-size: 100% 100px;
    width: 100%;
    background-image: url("../images/chevron-pattern.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.text-block {
    position: absolute;
    bottom: 20px;
    right: 50px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 10px;
}
/* HERO STYLING END */

/* SECTION STYLING START */
section {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

section h1 {
    width: 71px;
    border-right: solid var(--primary-color) 3px;
    text-align: right;
    padding: 10px;
    margin: 10px;
}

.flex-row {
    display: flex;
}

.about {
    height: 100px;
}

.about p {
    padding-left: 15px;
    padding-top: 15px;
}

.work-boxes {
    width: 900px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    padding-top: 15px;
}

.brain-food {
    height: 300px;
    width: 100%;
    background-image: url("../images/brain-food.jpeg");
    background-repeat: no-repeat;
    background-size: 100%;
    margin-left: 15px;
    border: solid var(--primary-color) 3px;
}

.run-buddy {
    height: 150px;
    width: 47%;
    background-image: url("../images/run-buddy.jpeg");
    background-size: 100%;
    margin-top: 15px;
    margin-left: 15px;
    border: solid var(--primary-color) 3px;
}